 <!-- Start Footer -->
<footer style="padding-top: 10px;">
    <div class="container">
        <div class="row footer-widgets">
            <!-- Start Subscribe & Social Links Widget -->
            <div class="col-md-4 col-md-offset-2">
                <div class="footer-widget mail-subscribe-widget">
                    <h3 style="color:white;">Contact Us<span class="head-line"></span></h3>
                    <p>Email: <a href="mailto:sales@vsource-software.com" style="color:#A1A1FF;">sales@vsource-software.com</a></p>
                </div>
            </div>
            <!-- .col-md-3 -->
            <!-- End Subscribe & Social Links Widget -->
            <!-- Start Twitter Widget -->
            <div class="col-md-4">
                <h4 style="margin-top: 50px;"><img src="/content/images/footer-vSource Software Solutions.png" class="img-responsive" alt="Footer Logo" /></h4>
            </div>
            <!-- .col-md-3 -->
        </div>
        <!-- .row -->
        <!-- Start Copyright -->
        <div class="copyright-section">
            <div class="row">
                <div class="col-md-6">
                    <p>&copy; 2014 vSource Software Solutions - All Rights Reserved <a href="http://graygrids.com">GrayGrids</a> </p>
                </div>
                <div class="col-md-6">
                    <ul class="footer-nav">
                        <li><a href="#">Sitemap</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- End Copyright -->
    </div>
</footer>
<!-- End Footer -->