.my-box-shadow{
    box-shadow: 5px 5px 5px 5px #D7D7D7;
}

.my-backgroud-shadow{
    background-color: rgba(210, 214, 222, 0.28);
}

img{
    width:100%;
}

.img-list-tech-box{
    width:200px;
    height:150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}