<script src="~/scripts/myanguarjs/angularjs_admin_temppost.js"></script>
<div class="section" ng-controller="adminTempostController as controller">
    <div class="col-md-12">
        <div class="box-body" style="border-style: groove;">
            <div class="col-sm-6">
                <div class="nav-tabs-custom">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#ckeditortab" data-toggle="tab" aria-expanded="true">CKEditor</a></li>
                        <li><a href="#wordtab" data-toggle="tab" aria-expanded="true">Raw HTML</a></li>
                        <li><a href="#rawhtmltab" data-toggle="tab" aria-expanded="false">Html Editor</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="ckeditortab">
                            <textarea ck-editor id="ckeditor" name="content" class="form-control" placeholder="Nội dung" style="height: 500px;">{{controller.displayHtml}}</textarea>
                        </div>
                        <div class="tab-pane" id="wordtab">
                            <textarea id="editor1" name="content" class="form-control" placeholder="Nội dung" style="height: 500px;" ng-model="controller.displayHtml"></textarea>
                        </div>
                        <!-- /.tab-pane -->
                        <div class="tab-pane" id="rawhtmltab">
                            <textarea ui-ace="{ mode: 'javascript', theme: 'monokai',useWrapMode : true, showGutter: false}" id="AceEditor" name="content" class="form-control" placeholder="Nội dụng" style="height: 500px;" ng-model="controller.displayHtml"></textarea>
                        </div>
                        <!-- /.tab-pane -->
                    </div>
                    <!-- /.tab-content -->
                </div>
            </div>

            <div class="col-sm-6" ng-bind-html="controller.displayHtml  | html" style="height:550px; overflow-y:auto;">
            </div>
        </div>
    </div>

    <div class="clearfix"></div>
    <hr />
    <h3>Full display</h3>
    <div class="nav-tabs-custom">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#col_md_8_tab" data-toggle="tab" aria-expanded="true">col-md-8</a></li>
            <li><a href="#col_md_12_tab" data-toggle="tab" aria-expanded="true">col-md-12</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="col_md_8_tab">
                <div class="row col-sm-8 col-sm-offset-2" ng-bind-html="controller.displayHtml  | html"></div>
            </div>
            <div class="tab-pane" id="col_md_12_tab">
                <div class="row col-sm-12" ng-bind-html="controller.displayHtml  | html"></div>
            </div>
            <!-- /.tab-pane -->
        </div>
        <!-- /.tab-content -->
    </div>
</div>

<script src="//cdn.ckeditor.com/4.5.7/standard/ckeditor.js"></script>
<script>
    CKEDITOR.replace('ckeditor');
</script>
<style type="text/css" media="screen">
    .ace_editor {
        height: 550px;
    }
</style>

