@model projecto2.Models.Post

@*@Html.Raw(Model.Content)*@

<!-- Start HomePage Slider -->
<section id="home">
    <!-- Carousel -->
    <div id="main-slide" class="carousel slide" data-ride="carousel">
        <!--/ Indicators end-->
        <!-- Carousel inner -->
        <div class="carousel-inner">
            <div class="item active">
                <img style="max-height:500px;     min-height: 150px;" class="img-responsive" src="/Content/layer_1.png" alt="slider">
            </div>
        </div>
    </div>
    <!-- /carousel -->
</section>
<!-- End HomePage Slider -->
<!-- Start Content -->
<div id="content">
    <div class="container">
        <!-- Start Our Services -->
        <div class="row">
            <div class="big-title text-center">
                <h2 style="margin-top: 0px;">Our Services</h2>
                <p class="title-desc">We create solution to reslove our customer with all passion and motivation.</p>
            </div>

            <!-- Start Service Icon 1 -->
            <div class="col-md-3 col-sm-6 service-box service-center">
                <div class="service-boxed" style="min-height: 205px;">
                    <div class="service-icon" style="margin-top:-25px;">
                        <i class="fa fa-mobile icon-medium-effect icon-effect-2"></i>
                    </div>
                    <div class="service-content">
                        <h3>Mobie Development</h3>
                        <p>Our skill focus on mobile development base on new technology. Android, iOS and Windows Mobile</p>
                    </div>
                </div>
            </div>
            <!-- End Service Icon 1 -->
            <!-- Start Service Icon 2 -->
            <div class="col-md-3 col-sm-6 service-box service-center">
                <div class="service-boxed" style="min-height: 205px;">
                    <div class="service-icon" style="margin-top:-25px;">
                        <i class="fa fa-desktop icon-medium-effect icon-effect-2"></i>
                    </div>
                    <div class="service-content">
                        <h3>Web Application Development</h3>
                        <p>Our strength base on ASP.NET MVC, Java, C#, AnlguarJS and NodeJS</p>
                    </div>
                </div>
            </div>
            <!-- End Service Icon 2 -->
            <!-- Start Service Icon 3 -->
            <div class="col-md-3 col-sm-6 service-box service-center">
                <div class="service-boxed" style="min-height: 205px;">
                    <div class="service-icon" style="margin-top:-25px;">
                        <i class="fa fa-code icon-medium-effect icon-effect-2"></i>
                    </div>
                    <div class="service-content">
                        <h3>Customer Software Development</h3>
                        <p>Base on customer requirement, we can build any application for your desktop.</p>
                    </div>
                </div>
            </div>
            <!-- End Service Icon 3 -->
            <!-- Start Service Icon 4 -->
            <div class="col-md-3 col-sm-6 service-box service-center">
                <div class="service-boxed" style="min-height: 205px;">
                    <div class="service-icon" style="margin-top:-25px;">
                        <i class="fa fa-bug icon-medium-effect icon-effect-2"></i>
                    </div>
                    <div class="service-content">
                        <h3>QA and Testing</h3>
                        <p>We provide new tool, new way for your testing code.</p>
                    </div>
                </div>
            </div>
            <!-- End Service Icon 4 -->

        </div>
        <!-- End Our Services -->
    </div>
</div>
<!-- End Content -->

<div class="row" style="background-color: #4C8EB4;">
    <div class="col-md-12" style=" padding-bottom: 35px;">
        <div class="col-md-5">
            <img src="/Content/background_3.png" style=" padding-left: 40px; padding-right: 40px;" />
        </div>
        <div class="col-md-7">
            <h2 class="my-home-why-h2">Why vSource Software Solutions</h2>
            <h3 class="my-home-why-h3">We Can Do</h3>
            <p class="my-home-why-p">Help our clients focus on core businesses and leave the IT challenges to our engineering team</p>
            <h3 class="my-home-why-h3">Quality Service</h3>
            <p class="my-home-why-p">We provide the best quality of service and products which certainly satisfies custormer's requirements</p>
            <h3 class="my-home-why-h3">Long-term relationship</h3>
            <p class="my-home-why-p">Building relationship with customer is very important to us. We continue to support our products which are delivered to our customer</p>
        </div>
    </div>
</div>

<script src="http://maps.googleapis.com/maps/api/js"></script>


<div class="row">
    <div class="col-md-10 col-lg-offset-1" style="top:30px;  margin-bottom: 70px; padding-bottom: 25px;">
        <h2 style="margin-bottom: 0px; margin-top: 20px;" class="text-center">We work with</h2>
        
        <div class="col-md-6 text-center">
            <img src="http://images.forbes.com/media/lists/companies/ibm_416x416.jpg" style="max-width: 200px;">
        </div>
        <div class="col-md-6 text-center">
            <img src="https://c.s-microsoft.com/en-us/CMSImages/lrn-share-site-ms-logo.png?version=bf62922f-fda3-d328-e220-b699eac0d6c0" style="max-width: 200px;" />
        </div>
    </div>
</div>

<div style="min-height:500px;" class="row">
    <div class="col-md-10 col-lg-offset-1" style="top:30px;  margin-bottom: 70px; padding-bottom: 25px;">
        <h2 style="margin-bottom: 0px; margin-top: 20px;" class="text-center">Contact Us Now</h2>
        <div class="col-md-6">
            <h3 class="text-center" style=" margin-bottom: 10px;">Location</h3>
            <p style="font-size: 17px;"><strong>Address:</strong> 124/14 Nguyen Dinh Chieu, Wards  3, Phu Nhuan District, Ho Chi Minh City</p>
            <p><strong>Phone: </strong> + 84 8 39953269</p>
            <div id="googleMap" style="width:100%;height:300px;"></div>
        </div>

        <div class="col-md-6">
            <h3 class="text-center" style=" margin-bottom: 10px;">Send us email</h3>
            <br />
            <br />
            <form action="/home/sendemail" method="post" class="form-horizontal">
                <div class="form-group">
                    <div class="col-md-12">
                        <input name="email" type="email" placeholder="Your Email" class="form-control" required />
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-12">
                        <input name="subject" type="text" placeholder="Subject" required class="form-control" />
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-12">
                        <textarea class="form-control" placeholder="Message" name="message" style="height:200px;" required></textarea>
                    </div>
                </div>

                <div class="box-footer">
                    <div class="form-group">
                        <input type="submit" class="btn btn-warning pull-right" value="Send" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="http://maps.googleapis.com/maps/api/js"></script>
<script>
    var myCenter = new google.maps.LatLng(10.803982, 106.682911);

    function initialize() {
        var mapProp = {
            center: myCenter,
            zoom: 16,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };

        var map = new google.maps.Map(document.getElementById("googleMap"), mapProp);

        var marker = new google.maps.Marker({
            position: myCenter,
        });

        marker.setMap(map);
    }

    google.maps.event.addDomListener(window, 'load', initialize);
</script>