@model projecto2.Models.Post

@{
    ViewBag.Title = Model.Title;
}

<div class="section">
    <div class="row">

        @Html.Raw(Model.Content)

        @*<div class="row col-sm-8 col-sm-offset-2">
           
        </div>*@
    </div>
</div>
