@model projecto2.Models.Post

@{
    ViewBag.Title = Model.Title;
}

<div class="section">
    <div class="row">

              <div class="row col-sm-8 col-sm-offset-2">
            @Html.Raw(Model.Content)
        </div>
    </div>
</div>
