
@{
    ViewBag.Title = "Thank you";
}


<br />
<br />
<br />
<br />
<div class="row my-backgroud-shadow" style="min-height:500px;">
    <div class="col-md-6 col-lg-offset-3" style="top:30px;">
        <div class="box box-success my-box-shadow">
            <div class="box-body">
               <h3>Your email has been sent. We will contact you soon. Thank you!</h3>
            </div>
            <div class="box-footer">
                <a href="/home" class="btn btn-success pull-right">Back</a>
            </div>
        </div>       
    </div>
</div>



